on:
  workflow_dispatch:
    inputs:
      package_version:
        description: 'Package version to be published to NPM'
        required: true

name: Build

jobs:
  prebuild-node:
    name: Upload Node Prebuild
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
        with:
          repository: "JoshuaWise/better-sqlite3"
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Install npe globally
        run: npm i npe -g
      - run: npm install && (npm list || true)
      - name: Change package name
        # We're cloning better-sqlite3 here and republishing it under a different name (with prebuilt binaries).
        # Version is set manually, because sometimes we need to release new versions for the same version of better-sqlite3
        # major.minor should be kept. e.g. better-sqlite3@7.1.2 can be released as better-sqlite3-with-prebuilds 7.1.5,
        # but not 7.2.0.
        run: npe name "better-sqlite3-with-prebuilds" \
          && npe repository.url "git+https://github.com/apify/better-sqlite3-with-prebuilds.git" \
          && npe version "${{ github.event.inputs.package_version }}"
      - name: Show package.json
        run: cat package.json
      - name: Build release
        run: |
          node ./node_modules/prebuild/bin.js -r node -t 10.20.0 -t 12.0.0 -t 14.0.0 -t 15.0.0 --include-regex 'better_sqlite3.node$' -u ${{ secrets.GITHUB_TOKEN }}
